<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>BLOG</title>
	<meta name="keywords" content="BLOG" />
	<meta name="description" content="BLOG" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
</head>
<body>
	<!-- 头部 -->
	<include file="__VIEW__/Common/head" />
	<!-- 头部结束 -->
	<!-- 发布内容区域 -->
	<div id="arc">
		<!-- 左侧区域 -->
		<div class="arc_left_box">
			<p class="arc_show">BLOG</p>
				<!-- 轮播区域 -->
			<div id="foucs_photo">
				<div class="foucs_photo_l">
					<img src="__PUBLIC__/images/.jpg" alt="" />
					<img src="__PUBLIC__/images/.jpg" alt="" />
					<img src="__PUBLIC__/images/.jpg" alt="" />
					<img src="__PUBLIC__/images/.gif" alt="" />
				</div>
		
			</div>
			<!-- 轮播区域结束 -->
			<p class="arc_show">博文</p>
			<list from="$article" name="$d">
			<div class="arc_left">
				<div class="arc_left_date">
					<p></p>
					<dl>
						<dd>{$d.time|date:'y',@@}</dd>
						<dt>{$d.time|date:'m-d',@@}</dt>
					</dl>
				</div>
				<div class="arc_left_content">
					<a href="{|U:'Index/article',array('aid'=>$d['aid'])}" class="arc_tittle">{$d.title}</a>
					<a href="{|U:'Index/article',array('aid'=>$d['aid'])}"><img src="{$d.thumb}" alt="缩略图" /></a>
					<div class="arc_des">{$d.intro}</div>
					<a href="{|U:'Index/article',array('aid'=>$d['aid'])}" class="arc_more">阅读全文>></a>
				</div>
			</div>
			</list>


			<div class="page">
				{$page}
			</div>
		</div>
		<!-- 左侧区域结束 -->
		<!-- 右侧区域 -->
		<include file="__VIEW__/Common/right" />
		<!-- 右侧区域结束 -->
	</div>
	<!-- 发布内容区域结束 -->
	<!-- 底部foot区域 -->
	<div id="foot_box">
		<div id="foot">
			<p id="foot_l">Copyright © 2013-2013 xiaofan. All rights reserved.</p>
			<p id="foot_r">
			
			</p>
		</div>
	</div>

	</div>
	<!--[if IE 6]>
    <script type="text/javascript" src="./js/iepng.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('#arc .arc_left .arc_left_date p,#arc .arc_left_box #foucs_photo .foucs_photo_l img','background');
    </script>
	<![endif]-->
</body>
</html>
	<!-- 底部foot区域结束 -->
